/* app css stylesheet */

h1 {
  text-align: center;
  text-shadow: 0px 1px 1px #4d4d4d;
}

th, td{
  border: 1px solid grey;
}

td{
  width: 150px;
}

table{
  border-collapse:separate;
}

td.td-pass:hover{
  background-color:#90EE90 !important;
  color: black !important;
}

td.td-null:hover{
  background-color:lightgray !important;
  color: black !important;
}

td.td-fail:hover{
  background-color:#ff6666 !important;
  color: black !important;
}

tr:hover td{
  background-color:darkkhaki !important;
  color: white !important;
}

td a {
  display:block;
  width:100%;
}

a {
  color:black;
  text-decoration:none;
}

th:first-child {
  border-radius: 6px 0 0 0;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child{
  border-radius: 6px 6px 0 0;
}

table, th , td  {
  font-size:36;
  padding: 5px;
  margin: auto;
  text-align: center;  
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

